{{ partial "header.html" . }}

<section class="main">
  <div class="container">
    <div class="content">
      <div class="page-heading">Schedule</div>

        {{ .Content }}

	<h2>Need to add subnav here</h2>
	{{ $times := seq 800 50 1800 }}
	{{ $newtimes := apply $times "replace" "." "50" "30" }}

	<table>
		<tr><th>Time</th><th>Track 1</th><th>Track 2</th><th>Track 3</th></tr>

		{{ $section := . }}

		{{ range $time := $newtimes }}
			<tr><td>{{ . }}</td>

				<td>
				{{ range where $section.Pages "Params.time_start" (string $time)  }}
					{{ if eq .Params.room "Track 1" }}
						<a href="/schedule/{{ lower .Params.stub }}">{{ htmlUnescape .Params.Title }}</a>
					{{ end}}
				{{ end }}
				</td>

				<td>
				{{ range where $section.Pages "Params.time_start" (string $time)  }}
					{{ if eq .Params.room "Track 2" }}
						<a href="/schedule/{{ lower .Params.stub }}">{{ htmlUnescape .Params.Title }}</a>
					{{ end}}
				{{ end }}
				</td>

				<td>
				{{ range where $section.Pages "Params.time_start" (string $time)  }}
					{{ if eq .Params.room "Track 3" }}
						<a href="/schedule/{{ lower .Params.stub }}">{{ htmlUnescape .Params.Title }}</a>
					{{ end}}
				{{ end }}
				</td></tr>
		{{ end }}
	
	</table>


	<p>Link to <a href="fuqua/">Fuqua Talk</a></p>

	
  </div>
</section>

{{ partial "footer.html" . }}
