    <table>
      <tr>
	<td>
          <a href="https://www.rit.edu/gccis/computingsecurity/">
            <img src="/img/sponsors/csec-2018-gold-footer.jpg" />
          </a>
          <a href="https://www.securenetworkinc.com/">
            <img src="/img/sponsors/secure-network-technologies-2018-gold-footer.png" />
          </a>
          <a href="https://www.endgame.com/">
            <img src="/img/sponsors/endgame-2018-gold-footer.png" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.rsa.com/">
            <img src="/img/sponsors/rsa-2018-gold-footer.jpg" />
          </a>
          <a href="http://senr.io/">
            <img src="/img/sponsors/senrio-2018-gold-footer.png" />
          </a>
          <a href="https://www.criticaldesign.net/">
            <img src="/img/sponsors/critical-design-associates-2018-gold-footer.png" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://www.positronsecurity.com/">
            <img src="/img/sponsors/positron-security-2018-gold-footer.png" />
          </a>
          <a href="https://greycastlesecurity.com/">
            <img src="/img/sponsors/greycastle-2018-gold-footer.jpg" />
          </a>
          <a href="https://www.datto.com/">
            <img src="/img/sponsors/datto-2018-gold-footer.png" />
          </a>
        </td>
      </tr>
    </table>
