	<div class="sponsors">
		<h2><a href="/schedule/{{ .Params.stub }}">{{ htmlUnescape .Params.title }} </a></h2>

		<div class="speaker-header">

		{{ if isset .Params "speakers" }}<p class="speaker--speaker">{{ .Params.speakers }}</p>{{end}}

		<p>Length: {{ .Params.length }} Minutes </p>

		{{ if isset .Params "room" }} <p>Location: {{ .Params.room }} at {{ .Params.time_start }}</p>{{end}}
		</div>

		{{ if isset .Params "description" }} <p><strong>Talk Description:</strong> {{ htmlUnescape .Params.description}}</p>{{end}}

		{{ if isset .Params "bio"}}<p><strong>Bio:</strong> {{ .Params.bio}}</p>{{end}}
	</div>
